<section id="forms">
  <div class="search">
<%= form_tag "/map", method: :get do %>
    <%= label_tag :address %>:<br>
    <%= text_field_tag :address %><br><br>

    <%= label_tag :city %>:<br>
    <%= text_field_tag :city %><br><br>

    <%= label_tag :state %>:<br>
    <%= text_field_tag :state %><br><br>

    <%= label_tag :zip %>:<br>
    <%= text_field_tag :zip %><br><br>

    <%= label_tag :distance %>:<br>
    <%= text_field_tag :distance %><br>
    <br>
    Accessible?:<br>
    <select name="accessible" id="accessible" class="form-control form-control-sm">
      <option value=nil></option>
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
    <br><br>
    Has Changing Table?:<br>
    <select name="changing_table" id="changing_table" class="form-control form-control-sm">
      <option value=nil></option>
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
    <br><br>
    Unisex?:<br>
    <select name="unisex" id="unisex" class="form-control form-control-sm">
      <option value=nil></option>
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
    <br><br>
    <%= submit_tag 'Search', class: "btn btn-primary"%>
  <% end %>
</div>
</section>
