<section>
<div class="map-list-view">
<div id="map" float="left" style="height: 600px; width: 800px; padding: 20px;">
   <script>
     var map;
     var marker;
     var lat;
     var long;
     function initMap() {
       fetch("https://www.googleapis.com/geolocation/v1/geolocate?key=<%= ENV['GOOGLE_API_KEY'] %>", {
         method: 'POST', // or 'PUT'
       })
       .then((response) => response.json())
       .then((data) => {
         console.log(data.location)
         lat = data.location.lat;
         $("#lat").html(lat);
         long = data.location.lng;
         $("#lat").html(lat);

         map = new google.maps.Map(document.getElementById('map'), {
           center: {lat: lat , lng: long },
           zoom: 13
         });
         var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
         var marker = new google.maps.Marker({
            position: {lat: lat, lng: long },
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            icon: image,
            title: 'You are here'
          });
        marker.setMap(map);
        marker.addListener('click', toggleBounce);
        setMarkers(map);
      })
    }
     function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      };

      var bathrooms = <%=raw @bathrooms.to_json%>;

    function setMarkers(map){
      for (var i = 0; i < bathrooms.length; i++) {
        var bathroom = bathrooms[i];
        console.log(bathroom.latitude);
        var marker2 = new google.maps.Marker({
          position: {lat: bathroom.latitude, lng: bathroom.longitude},
          map: map,
          title: bathroom.name
        });
      }
    }
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap"
   async defer></script>
   </div>
  <div class="list-results" id="bathroom" float="right" style="padding-left:10px">
    <h3>Bathrooms Near You</h3>
    <ul>
      <% @bathrooms.each do |bathroom| %>
        <li id=" <%= bathroom.id%> ">
          <%=bathroom.name%>
          <a> <%= link_to "More Info" %></a>
          <% @lat%><p id='lat'>  </p>
          <%= link_to "Get Directions", "https://www.google.com/maps/dir/?api=1&origin=#{@user.latitude}+#{@user.longitude}&destination=#{bathroom.latitude}+#{bathroom.longitude}&travelmode=walking" %>
        </li>
      <% end %>
    </ul>
  </div>
<section class="popup">
  <div class="bathroom-show">
    <h3 id="popup-name">Popup!</h3>
  </div>
</section>
</div>
</section>


  <script>
    var bathroom_id;
    let check = document.querySelector('#bathroom');
    let popup = document.querySelector('.popup');

    check.addEventListener('click', function(e){
      var bathrooms = <%=raw @bathrooms.to_json%>;
      var bathroom_id = e.target.id;
      let bathroom =  bathrooms.find(bathroom => {
        return bathroom.id == bathroom_id
      })
      console.log(bathroom)
      $("#popup-name").html(bathroom.name)
      // popup.innerHTML = `
      //   <div class="bathroom-show">
      //     <p>Popup!</p>
      //   </div>`
      popup.id = e.target.id
      popup.style.display = "block"
    });
  </script>
