<!DOCTYPE html>
<html>
  <head>
    <title>Gottago</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>

  <!-- <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : ENV['FB_APP_ID'],
        cookie     : true,
        xfbml      : true,
        version    : '6.0'
      });

      FB.AppEvents.logPageView();

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script> -->
</html>
